In [1]:
# Imported relevant libraries
import pandas as pd
import numpy as np

In [21]:
# Loaded the 3 csv data files for analysis - headers yes, separator ","
# Created 3 DataFrames to store above csv data files

actual_duration = pd.read_csv('actual_duration.csv')
ad = pd.DataFrame(actual_duration)
appointments_regional = pd.read_csv('appointments_regional.csv')
ar = pd.DataFrame(appointments_regional)
national_categories = pd.read_excel('national_categories.xlsx')
nc = pd.DataFrame(national_categories)

In [25]:
# Sense-checked DataFrames

# Actual duration (ad)
# Vizualized column names and first rows
print(ad.head())

# Shape (Number of rows, Number of columns)
print(ad.shape)

# Data types
print(ad.dtypes)

# Sum missing values
print(ad.isna().sum())

  sub_icb_location_code sub_icb_location_ons_code  \
0                   00L                 E38000130
1                   00L                 E38000130
2                   00L                 E38000130
3                   00L                 E38000130
4                   00L                 E38000130

                        sub_icb_location_name icb_ons_code region_ons_code  \
0  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
1  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
2  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
3  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
4  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012

  appointment_date         actual_duration  count_of_appointments
0        01-Dec-21           31-60 Minutes                    364
1        01-Dec-21           21-30 Minutes                    619
2        01-Dec-21            6-10 Minutes                   1698
3        01-Dec-21  Unknown / Data Quality                   1277
4        01-Dec-21           16-20 Minutes                    730
(137793, 8)
sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object
sub_icb_location_code        0
sub_icb_location_ons_code    0
sub_icb_location_name        0
icb_ons_code                 0
region_ons_code              0
appointment_date             0
actual_duration              0
count_of_appointments        0
dtype: int64

In [26]:
# Appointments regional (ar)
# Vizualized column names and first rows
print(ar.head())

# Shape (Number of rows, Number of columns)
print(ar.shape)

# Data types
print(ar.dtypes)

# Sum missing values
print(ar.isna().sum())

  icb_ons_code appointment_month appointment_status hcp_type appointment_mode  \
0    E54000034           2020-01           Attended       GP     Face-to-Face
1    E54000034           2020-01           Attended       GP     Face-to-Face
2    E54000034           2020-01           Attended       GP     Face-to-Face
3    E54000034           2020-01           Attended       GP     Face-to-Face
4    E54000034           2020-01           Attended       GP     Face-to-Face

  time_between_book_and_appointment  count_of_appointments
0                             1 Day                   8107
1                    15  to 21 Days                   6791
2                       2 to 7 Days                  20686
3                    22  to 28 Days                   4268
4                     8  to 14 Days                  11971
(596821, 7)
icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object
icb_ons_code                         0
appointment_month                    0
appointment_status                   0
hcp_type                             0
appointment_mode                     0
time_between_book_and_appointment    0
count_of_appointments                0
dtype: int64

In [30]:
# National categories (nc)
# Vizualized column names and first rows
print(nc.head())

# Shape (Number of rows, Number of columns)
print(nc.shape)

# Data types
print(nc.dtypes)

# Sum missing values
print(nc.isna().sum())

  appointment_date icb_ons_code                       sub_icb_location_name  \
0       2021-08-02    E54000050  NHS North East and North Cumbria ICB - 00L
1       2021-08-02    E54000050  NHS North East and North Cumbria ICB - 00L
2       2021-08-02    E54000050  NHS North East and North Cumbria ICB - 00L
3       2021-08-02    E54000050  NHS North East and North Cumbria ICB - 00L
4       2021-08-02    E54000050  NHS North East and North Cumbria ICB - 00L

        service_setting            context_type  \
0  Primary Care Network  Care Related Encounter
1                 Other  Care Related Encounter
2      General Practice  Care Related Encounter
3      General Practice  Care Related Encounter
4      General Practice  Care Related Encounter

                        national_category  count_of_appointments  \
0  Patient contact during Care Home Round                      3
1                         Planned Clinics                      7
2                              Home Visit                     79
3              General Consultation Acute                    725
4            Structured Medication Review                      2

  appointment_month
0           2021-08
1           2021-08
2           2021-08
3           2021-08
4           2021-08
(817394, 8)
appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object
appointment_date         0
icb_ons_code             0
sub_icb_location_name    0
service_setting          0
context_type             0
national_category        0
count_of_appointments    0
appointment_month        0
dtype: int64

In [31]:
# Described DataFrames

ad.describe()
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [32]:
ar.describe()
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [33]:
nc.describe()
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [50]:
# How many locations are there in the data set?

location_counts = nc["sub_icb_location_name"].value_counts(ascending=False)

print("Count of locations: ", location_counts)

Count of locations:  NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
                                               ...
NHS North East and North Cumbria ICB - 00N      4210
NHS Lancashire and South Cumbria ICB - 02G      4169
NHS Cheshire and Merseyside ICB - 01V           3496
NHS Cheshire and Merseyside ICB - 01T           3242
NHS Greater Manchester ICB - 00V                2170
Name: sub_icb_location_name, Length: 106, dtype: int64

In [49]:
# What are the five locations with the highest number of records?

print("The five locations with the highest number of records are: ",
      location_counts.nlargest(5))

The five locations with the highest number of records are:  NHS North West London ICB - W2U3Z              13007
NHS Kent and Medway ICB - 91Q                  12637
NHS Devon ICB - 15N                            12526
NHS Hampshire and Isle Of Wight ICB - D9Y0V    12171
NHS North East London ICB - A3A8R              11837
Name: sub_icb_location_name, dtype: int64

In [52]:
# How many service settings, context types, national categories, and appointment statuses are there?

# Count service settings
ss_count = nc["service_setting"].value_counts()

print("The different service settings are: ", ss_count)

The different service settings are:  General Practice             359274
Primary Care Network         183790
Other                        138789
Extended Access Provision    108122
Unmapped                      27419
Name: service_setting, dtype: int64

In [55]:
# Count context types
ct_count = nc["context_type"].value_counts()

print("The different context types are: ", ct_count)

The different context types are:  Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
Name: context_type, dtype: int64

In [56]:
# Count national categories
nc_count = nc["national_category"].value_counts()

print("The different national categories are: ", nc_count)

The different national categories are:  Inconsistent Mapping                                                   89494
General Consultation Routine                                           89329
General Consultation Acute                                             84874
Planned Clinics                                                        76429
Clinical Triage                                                        74539
Planned Clinical Procedure                                             59631
Structured Medication Review                                           44467
Service provided by organisation external to the practice              43095
Home Visit                                                             41850
Unplanned Clinical Activity                                            40415
Patient contact during Care Home Round                                 28795
Unmapped                                                               27419
Care Home Visit                                                        26644
Social Prescribing Service                                             26492
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Non-contractual chargeable work                                        20896
Walk-in                                                                14179
Group Consultation and Group Education                                  5341
Name: national_category, dtype: int64

In [57]:
# Count appointment statuses
aps_count = ar["appointment_status"].value_counts()

print("The different appoitment status are: ", aps_count)

The different appoitment status are:  Attended    232137
Unknown     201324
DNA         163360
Name: appointment_status, dtype: int64